<%- model_class = Thing -%>
<div class="page-header">
  <h1>Recent Activity</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Thing</th>
      <th>Change</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |version| %>
      <% thing = YAML::load(version.object) rescue nil %>
      <% if thing %>
        <tr>
          <td><%= link_to thing["name"], thing_path(thing["id"]) %></td>
          <td class="text">
            is now ranked #<%= thing['average_position'].to_f.ceil.to_i %> at <time class="convert"><%=l version.created_at %></time>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate collection %>