h3 {
  .badge {
    font-size: inherit;
    line-height: 22px;
    padding: 9px;
  }
}

.table {
  td {
    img {
      max-height: 16px;
    }
  }
}

.thumbnails {
  .btn-large {
    margin-left: 0;
    margin-top: 20px;
  }
}

.sortable {
  tr {
    cursor: move;
  }
}
