<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '239700296176185', // App ID from the App Dashboard
      channelUrl : '//channel.html', // Channel File for x-domain communication
      status     : true, // check the login status upon init?
      cookie     : true, // set sessions cookies to allow your server to access the session?
      xfbml      : true  // parse XFBML tags on this page?
    });

    // FB.getLoginStatus(function(response) {
    //   if (response.status === 'connected') {
    //     //if (!$("body").hasClass('signed_in')) {
    //       $(".btn-facebook-login").on('click',function(e){
    //         e.preventDefault();
    //         console.log(response)
    //         $.ajax(
    //           "/users/login_with_facebook",
    //           { 
    //             data: "facebook_access_token=" + response.authResponse.accessToken,
    //             type: 'POST',
    //             dataType: 'json'
    //           }
    //         ).done(function(object,status,e){
    //           if(object) {
    //             location.reload();
    //           }
    //         });
    //         // FB.api('/me', function(obj) {
    //         //   console.log(obj);
    //         // });
    //       });
    //     //}
    //   } else if (response.status === 'not_authorized') {
    //     FB.login(function(response) {
    //       if (response.authResponse) {
    //         console.log(response)
    //       } else {
    //       }
    //     });
    //   } else {
    //     FB.login(function(response) {
    //       if (response.authResponse) {
    //         console.log(response)
    //       } else {
    //       }
    //     });
    //   }
    // });

  };

  // Load the SDK's source Asynchronously
  // Note that the debug version is being actively developed and might 
  // contain some type checks that are overly strict. 
  // Please report such bugs using the bugs tool.
  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));
</script>