<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @user.name %> wants to know:</h3>
    <h1>What's better? <%= @thing_1 %> or <%= @thing_2 %>?</h1>
    <p><%= link_to "Click here to choose!", @url %></p>
  </body>
</html>